* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d0d0d;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #262626;
  width: 400px;
  padding: 30px 15px 0 15px;
  border-radius: 10px;
}

.name,
a,
.description {
  color: #f2f2f2;
}

a {
  text-decoration: none;
}

.info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  border-radius: 100px;
  margin-bottom: 30px;
}

.name {
  margin-bottom: 10px;
}

.location {
  color: #99ff66;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 10px;
  text-align: center;
}

li {
  width: 350px;
  margin: 20px;
  padding: 10px;
  background-color: #666666;
  border-radius: 10px;
}

.name {
  font-size: 36px;
  font-weight: 700;
}

.location,
a {
  font-size: 18px;
  font-weight: 700;
}

.description {
  font-size: 16px;
  font-weight: 300;
}
